#faq .top30 { margin-top:30px; }
#faq .group td {
    margin: 8px auto;
    text-align: center;
}
#faq tr.group {
    background-color: #00a19a;
    color: white;
}

#faq table, #faq td {
    border: 0px solid #eee;
}
#faq thead {
    display:none;
}
#faq table td {
    display:block;
    font-weight:400
}
#faq td.question {
    cursor: pointer;
}
#faq .answer-tab {
    width: 20px;
    height:12px;
    font-size:12px;
    display:inline-block;
}
#faq .search-label {
    width:100%;
    text-align:center;
}
#faq table tr.group td {
    font-weight: 800;
    padding:6px;
}
#faq ul {
    padding-left:0px;
}
#faq .odd {
    background-color:#ececec
}

#faq .btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
    color: #fff;
    background-color: #00a19a;
    border-color: #00807a;
}
